.app-fundo-navbar {
  background-color: #bb0d0d !important;
  // background: -webkit-linear-gradient(to right, #faf3f48d, #e3e3f891);
  // background: linear-gradient(to right, #faf3f48d, #e3e3f891);
  }

  span {
    color: white;
    margin-left: 10px;
  }
